@use "shared/base";
@use "shared/variables";

.addTextForm {
  padding: 5em;
  display: flex;
  max-width: 900px;
  margin: 5em auto;
  margin-bottom: 2.5em;
  flex-direction: column;
  background: variables.$block_background;

  legend {
    font-size: 50px;
    text-align: center;
    margin-bottom: 1em;
    color: variables.$primary;
  }

  label {
    margin: 12px;
    color: white;
    font-size: 20px;
  }

  input {
    width: 80%;
    padding: 1em;
    font-size: 20px;
    margin-bottom: 2em;
    border-radius: 5px;
  }

  button {
    @include base.resetButton();

    width: 25%;
    cursor: pointer;
    padding: 1.25em;
    font-size: 20px;
    border-radius: 5px;
    color: variables.$secondary;
    background-color: variables.$block_button_background;

    &:hover {
      background-color: variables.$block_button_background_hover;
    }

    &:active {
      background-color: darken(variables.$block_button_background_hover, 10);
    }
  }
}
