@use "./variables";

h2 {
  font-size: 40px;
  margin-top: 1.5em;
  margin-left: 0.25em;
  margin-bottom: 0.75em;
  color: variables.$primary;
}

@media (max-width: 500px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 350px) {
  h2 {
    font-size: 24px;
  }
}
