$primary: rgb(195, 211, 221);
$secondary: rgb(191, 194, 163);

$block_button_background: rgb(80, 56, 31);
$block_button_background_hover: rgb(110, 35, 5);
$block_background: linear-gradient(0.25turn, #0b0d29, #3c5d70);

$ukrainian_back: linear-gradient(#2384ec 5%, #186ac2 20% 30%, #ffd500 80%);
