@use "shared/variables";

.navigation {
  margin: 1.5em;
  ul {
    list-style-type: none;
  }
}

.navBlock {
  padding: 1.5em;
  max-width: 1200px;
  margin-bottom: 3em;
  border: 1.5px solid rgb(87, 81, 67);
  background: variables.$block_background;
}

.blockNumber {
  font-size: 28px;
  margin-bottom: 1em;
  color: variables.$secondary;
}

$gap: 1.5em;

.navLinksList {
  gap: $gap;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.navLink {
  display: block;
  padding: 1em;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: variables.$secondary;
  transition: all 0.25s ease-in;
  border: 2px solid rgb(100, 94, 94);
  background-color: variables.$block_button_background;

  &:hover {
    color: white;
    border-color: white;
    background-color: variables.$block_button_background_hover;
  }
}

@media (max-width: 500px) {
  .navLinksList {
    grid-auto-columns: 1fr;
    grid-template-columns: none;
  }

  .blockNumber {
    font-size: 24px;
  }

  .navLink {
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .blockNumber {
    font-size: 18px;
  }
}
